<a href="https://colab.research.google.com/github/cmreyesvalencia-png/colab-git-assignment2-CR/blob/main/Lesson_4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment 4: Data Processing - Python Development and Pandas**
- **Course:** Data Analytics and Business Intelligence
Analyst
-  **Institution:** Willis College
-  **Student Name:**  Carlos Reyes
- **Date:** 2025 November, 1

## **Instructions**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [3]:
# Python and Pandas Assessment Notebook

import pandas as pd
import numpy as np
from functools import reduce

In [15]:
# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Your code here:
print("=== Task 1: Create DataFrame ===")
try:
    data = {
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
    }
    df = pd.DataFrame(data)
    print("DataFrame created successfully:\n")
    print(df)
    print(f"\nData types:\n{df.dtypes}")
except Exception as e:
    print(f"Error creating DataFrame: {e}")

=== Task 1: Create DataFrame ===
DataFrame created successfully:

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

Data types:
Name    object
Age      int64
City    object
dtype: object

In [16]:
# Task 2: Row and Column Manipulation
# Drop the 'City' column from the DataFrame created in Task 1

# Your code here:
print("=== Task 2: Drop City Column ===\n")
try:
    df_no_city = df.drop('City', axis=1)
    print("DataFrame after dropping 'City' column:\n")
    print(df_no_city)
    print(f"\nRemaining columns: {list(df_no_city.columns)}")
except Exception as e:
    print(f"Error dropping column: {e}")

=== Task 2: Drop City Column ===

DataFrame after dropping 'City' column:

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

Remaining columns: ['Name', 'Age']

In [17]:
# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Your code here:
print("\n=== Task 3: Handling Null Values ===\n")
try:
    # Create DataFrame with null values
    df_with_nulls = pd.DataFrame({
        'Name': ['Alice', 'Bob', None, 'David'],
        'Age': [25, None, 35, 28],
        'Salary': [50000, 60000, 55000, None]
    })
    print("DataFrame with null values:\n")
    print(df_with_nulls)
    print("\nNull values count:\n")
    print(df_with_nulls.isnull().sum())

    # Fill null values
    df_filled = df_with_nulls.copy()
    df_filled['Name'] = df_filled['Name'].fillna('Unknown')
    df_filled['Age'] = df_filled['Age'].fillna(0)
    df_filled['Salary'] = df_filled['Salary'].fillna(df_filled['Salary'].mean())

    print("\nDataFrame after filling null values:\n")
    print(df_filled)
except Exception as e:
    print(f"Error handling null values: {e}")

=== Task 3: Handling Null Values ===

DataFrame with null values:

    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
2   None  35.0  55000.0
3  David  28.0      NaN

Null values count:

Name      1
Age       1
Salary    1
dtype: int64

DataFrame after filling null values:

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   0.0  60000.0
2  Unknown  35.0  55000.0
3    David  28.0  55000.0

In [19]:
# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

# Your code here:

print("\n=== Task 4: GroupBy and Describe ===")
try:
    df_group = pd.DataFrame({
        'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
        'Value': [10, 20, 15, 25, 30, 35]
    })

    grouped = df_group.groupby('Category')['Value'].describe()
    print("\nGroupBy statistics:\n")
    print(grouped)
except Exception as e:
    print(f"Error in GroupBy operation: {e}")

=== Task 4: GroupBy and Describe ===

GroupBy statistics:

          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0

In [21]:
# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

# Your code here:

print("\n=== Task 5: Concatenation and Merging ===\n")
try:
    df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
    df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
    df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

    # Vertical concatenation
    df_vertical = pd.concat([df1, df2], axis=0)
    print("After vertical concatenation:")
    print(df_vertical)

    # Horizontal merging
    df_merged = pd.concat([df_vertical.reset_index(drop=True),
                          df3.reset_index(drop=True)], axis=1)
    print("\nAfter horizontal merging:\n")
    print(df_merged)
    print(f"\nFinal shape: {df_merged.shape}")
except Exception as e:
    print(f"Error in concatenation/merging: {e}")

=== Task 5: Concatenation and Merging ===

After vertical concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

After horizontal merging:

   A  B     C     D
0  1  3   9.0  11.0
1  2  4  10.0  12.0
2  5  7   NaN   NaN
3  6  8   NaN   NaN

Final shape: (4, 4)

In [23]:
# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

# Your code here:

print("\n=== Task 6: Tuples and Sets ===\n")
try:
    # Create tuple and set
    fruits_tuple = ('apple', 'banana', 'orange')
    numbers_set = {1, 2, 3, 4, 5}

    print(f"Original tuple: {fruits_tuple}")
    print(f"Original set: {numbers_set}")

    # Demonstrate tuple immutability
    print(f"\nTuple ID before operation: {id(fruits_tuple)}")

    try:
        # This creates a NEW tuple, doesn't modify the original
        fruits_tuple += ('grape',)
        print(f"After 'adding' to tuple: {fruits_tuple}")
        print(f"Tuple ID after operation: {id(fruits_tuple)} - NEW OBJECT!")
    except Exception as e:
        print(f"Cannot modify tuple: {e}")

    # Demonstrate set mutability
    print(f"\nSet ID before operation: {id(numbers_set)}")
    numbers_set.add(6)  # Sets are mutable - modifies the original
    print(f"After adding to set: {numbers_set}")
    print(f"Set ID after operation: {id(numbers_set)} - SAME OBJECT!")

    print("\nExplanation: Tuples are immutable - 'adding' creates a new tuple object.")
    print("Sets are mutable - adding modifies the original set object.")

except Exception as e:
    print(f"Error with tuples/sets: {e}")

=== Task 6: Tuples and Sets ===

Original tuple: ('apple', 'banana', 'orange')
Original set: {1, 2, 3, 4, 5}

Tuple ID before operation: 139948487804608
After 'adding' to tuple: ('apple', 'banana', 'orange', 'grape')
Tuple ID after operation: 139948488925376 - NEW OBJECT!

Set ID before operation: 139948489462432
After adding to set: {1, 2, 3, 4, 5, 6}
Set ID after operation: 139948489462432 - SAME OBJECT!

Explanation: Tuples are immutable - 'adding' creates a new tuple object.
Sets are mutable - adding modifies the original set object.

In [25]:
# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

# Your code here:

print("\n=== Task 7: Dictionaries ===\n")
try:
    # Create dictionary
    students = {
        'Alice': 85,
        'Bob': 92,
        'Charlie': 78
    }
    print(f"Original dictionary: {students}")

    # Update existing student
    students['Bob'] = 95
    print(f"After updating Bob's score: {students}")

    # Add new student
    students['Diana'] = 88
    print(f"After adding Diana: {students}")
except Exception as e:
    print(f"Error with dictionary: {e}")

=== Task 7: Dictionaries ===

Original dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78}
After updating Bob's score: {'Alice': 85, 'Bob': 95, 'Charlie': 78}
After adding Diana: {'Alice': 85, 'Bob': 95, 'Charlie': 78, 'Diana': 88}

In [30]:
# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

# Your code here:

print("\n=== Task 8: Functions and Lambda ===")
try:
    # Regular function
    def square_number(x):
        return x ** 2

    # Lambda function
    square_lambda = lambda x: x ** 2

    # Test both functions
    test_numbers = [2, 5]
    for num in test_numbers:
        print(f"\nNumber: {num}\n")
        print(f"Regular function square: {square_number(num)}")
        print(f"Lambda function square: {square_lambda(num)}")
except Exception as e:
    print(f"Error with functions: {e}")

=== Task 8: Functions and Lambda ===

Number: 2

Regular function square: 4
Lambda function square: 4

Number: 5

Regular function square: 25
Lambda function square: 25

In [31]:
# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Your code here:

print("\n=== Task 9: Iterators and Generators ===")
try:
    # Iterator class
    class EvenNumberIterator:
        def __init__(self, count):
            self.count = count
            self.current = 0

        def __iter__(self):
            return self

        def __next__(self):
            if self.current >= self.count:
                raise StopIteration
            result = self.current * 2
            self.current += 1
            return result

    # Generator function
    def even_number_generator(count):
        for i in range(count):
            yield i * 2

    # Demonstrate iterator
    print("Using iterator:")
    iterator = EvenNumberIterator(5)
    for num in iterator:
        print(num)

    # Demonstrate generator
    print("\nUsing generator:")
    generator = even_number_generator(5)
    for num in generator:
        print(num)
except Exception as e:
    print(f"Error with iterators/generators: {e}")

=== Task 9: Iterators and Generators ===
Using iterator:
0
2
4
6
8

Using generator:
0
2
4
6
8

In [33]:
# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

# Your code here:

print("\n=== Task 10: Map, Reduce, and Filter ===\n")
try:
    numbers = [1, 2, 3, 4, 5]

    # Map - square all numbers
    squared = list(map(lambda x: x**2, numbers))
    print(f"Original numbers: {numbers}")
    print(f"Squared numbers (map): {squared}")

    # Reduce - product of all numbers
    product = reduce(lambda x, y: x * y, numbers)
    print(f"Product of all numbers (reduce): {product}")

    # Filter - even numbers only
    evens = list(filter(lambda x: x % 2 == 0, numbers))
    print(f"Even numbers (filter): {evens}")
except Exception as e:
    print(f"Error with map/reduce/filter: {e}")

=== Task 10: Map, Reduce, and Filter ===

Original numbers: [1, 2, 3, 4, 5]
Squared numbers (map): [1, 4, 9, 16, 25]
Product of all numbers (reduce): 120
Even numbers (filter): [2, 4]

In [34]:
# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

# Your code here:

print("\n=== Task 11: OOP - Rectangle Class ===")
try:
    class Rectangle:
        def __init__(self, length, width):
            if length <= 0 or width <= 0:
                raise ValueError("Length and width must be positive")
            self.length = length
            self.width = width

        def area(self):
            return self.length * self.width

        def perimeter(self):
            return 2 * (self.length + self.width)

        def __str__(self):
            return f"Rectangle({self.length}x{self.width})"

    # Create rectangle objects
    rect1 = Rectangle(5, 3)
    rect2 = Rectangle(7, 4)

    print(f"Rectangle 1: {rect1}")
    print(f"Area: {rect1.area()}, Perimeter: {rect1.perimeter()}")

    print(f"\nRectangle 2: {rect2}")
    print(f"Area: {rect2.area()}, Perimeter: {rect2.perimeter()}")
except Exception as e:
    print(f"Error with OOP: {e}")

=== Task 11: OOP - Rectangle Class ===
Rectangle 1: Rectangle(5x3)
Area: 15, Perimeter: 16

Rectangle 2: Rectangle(7x4)
Area: 28, Perimeter: 22

In [36]:
# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

#df_employees = pd.DataFrame({
#    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
#    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
#    'Salary': [55000, 65000, 70000, 60000, 58000]
#})

# Your code here:

print("\n=== Task 12: Pandas Data Analysis ===")
try:
    df_employees = pd.DataFrame({
        'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
        'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
        'Salary': [55000, 65000, 70000, 60000, 58000]
    })

    print("Original employee data:")
    print(df_employees)

    # 1. Average salary by department
    avg_salary = df_employees.groupby('Department')['Salary'].mean()
    print(f"\n1. Average salary by department:")
    print(avg_salary)

    # 2. Employees with salary > 60000
    high_earners = df_employees[df_employees['Salary'] > 60000]['Name']
    print(f"\n2. Employees with salary > 60000:")
    print(high_earners.tolist())

    # 3. Add bonus column
    df_employees['Bonus'] = df_employees['Salary'] * 0.10
    print(f"\n3. DataFrame with bonus column:")
    print(df_employees)
except Exception as e:
    print(f"Error in data analysis: {e}")

=== Task 12: Pandas Data Analysis ===
Original employee data:
      Name Department  Salary
0     John         IT   55000
1     Jane         HR   65000
2      Bob         IT   70000
3    Alice    Finance   60000
4  Charlie         HR   58000

1. Average salary by department:
Department
Finance    60000.0
HR         61500.0
IT         62500.0
Name: Salary, dtype: float64

2. Employees with salary > 60000:
['Jane', 'Bob']

3. DataFrame with bonus column:
      Name Department  Salary   Bonus
0     John         IT   55000  5500.0
1     Jane         HR   65000  6500.0
2      Bob         IT   70000  7000.0
3    Alice    Finance   60000  6000.0
4  Charlie         HR   58000  5800.0